.expense-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.expense-filter>label{
    font-size: 1rem;
    font-weight: bold;
    color: white;
}
.expense-filter__select{
    padding: 7px 15px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
}